/* src/styles/colors.css */

:root {
  --color-primary: #161616;
  --color-secondary: #232323;
  --color-tertiary: #3a3a3a;
  --color-bg: #ffffff;
  --color-bg-alt: #ececec;
  --color-text: #161616;
  --color-subtext: #555555;
  --color-progress: var(--color-primary);
  --scrollbar-track: #ececec;
  --scrollbar-thumb: #c1c1c1;
  --scrollbar-thumb-hover: #a1a1a1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #ececec;
    --color-secondary: #ffffff;
    --color-tertiary: #cfcfcf;
    --color-bg: #161616;
    --color-bg-alt: #232323;
    --color-text: #ffffff;
    --color-subtext: #a1a1a1;
    --color-progress: var(--color-primary);
    --scrollbar-track: #232323;
    --scrollbar-thumb: #424242;
    --scrollbar-thumb-hover: #555555;
  }
}

.color {
  --blue-dark: #3A4A5A;
  --blue-light: #D7EBFF;
  --indigo-dark: #2A3540;
  --indigo-light: #B0B6E0;
  --yellow-dark: #6B5E20;
  --yellow-light: #FFF9B3;
  --amber-dark: #5A4B20;
  --amber-light: #FFE380;
}

@media (prefers-color-scheme: dark) {
  .color {
    --blue-dark: #181828;
    --blue-light: #B5DBFC;
    --indigo-dark: #121F23;
    --indigo-light: #858BC2;
    --yellow-dark: #0B1724;
    --yellow-light: #FEF896;
    --amber-dark: #1F2020;
    --amber-light: #F5D155;
  }
}