/* src/styles/footer.css */

.site-footer {
	--footer-background: color-mix(in srgb, var(--theme-color) 20%, white);
	--footer-border-color: color-mix(
		in srgb,
		var(--footer-background) 90%,
		black
	);
	--footer-text-color: color-mix(
		in srgb,
		color-mix(in srgb, var(--color-primary) 75%, var(--footer-background)),
		black
	);
	--footer-subtext-color: color-mix(in srgb, var(--color-subtext) 75%, white);
	--footer-toggle-track-color: color-mix(
		in srgb,
		var(--footer-background) 95%,
		black
	);
	--footer-toggle-puck-color: var(--footer-background);
}

.dark .site-footer {
	--footer-background: color-mix(in srgb, var(--theme-color) 25%, black);
	--footer-border-color: color-mix(
		in srgb,
		var(--footer-background) 85%,
		white
	);
	--footer-text-color: color-mix(
		in srgb,
		var(--color-primary) 75%,
		var(--footer-background)
	);
	--footer-subtext-color: color-mix(in srgb, var(--color-subtext) 75%, black);
	--footer-toggle-track-color: color-mix(
		in srgb,
		var(--footer-background) 92%,
		white
	);
	--footer-toggle-puck-color: var(--footer-background);
}
