/* src/styles/navbar.css */

.navbar {
	--navbar-background: color-mix(in srgb, var(--color-bg-alt) 10%, transparent);
	--navbar-border-color: color-mix(in srgb, var(--color-bg-alt) 90%, black);
	--navbar-indicator-color: color-mix(in srgb, var(--theme-color) 90%, black);

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 15;
	background: var(--navbar-background);
	backdrop-filter: blur(6px);
	-webkit-backdrop-filter: blur(6px);
	border-bottom: 1px solid var(--navbar-border-color);
	/* fallback */
	@supports not (backdrop-filter: blur(6px)) {
		background: var(--color-bg-alt);
	}
}

.dark .navbar {
	--navbar-border-color: color-mix(in srgb, var(--color-bg-alt) 85%, black);
	--navbar-indicator-color: color-mix(in srgb, var(--theme-color) 90%, white);
}
